annotated-types
anyio
asgiref
certifi
cffi
cryptography
deprecation
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
gunicorn
h11
h2
hpack
httpcore
httpx
hyperframe
idna
multidict
packaging
postgrest
propcache
psycopg
psycopg2
pycparser
pydantic
pydantic_core
PyJWT
python-dotenv
realtime
sqlparse
storage3
StrEnum
supabase
supabase-auth
supabase-functions
typing-inspection
typing_extensions
tzdata
websockets
yarl
whitenoise
